* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.container {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

#header {
    height: 15vh;
    color: #f2f8fc;
    background-color: #0072c5;
    display: flex;
    justify-content: center;
    align-items: center;
}


#main {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: #fff;
    width: 408px;
    height: 365px;
    padding: 15px 19px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.05),0 2px 3px 0 rgba(0,0,0,.1);border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calculator-display {
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#result {
    height: 60px;
    padding: 0 20px;
    background-color: #f2f8fc;
    border: 1px solid #0072c5;
    border-top: 4px solid #0072c5;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
    overflow: hidden;
}

#operation {
    height: 20px;
}

#calculator .focus {
    background-color: #fff;
    border: 1px solid #0072c5;
}

#calculator-btns {
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#calculator-btns button {
    /* width: 80px;
    height: 40px; */
    width: 22%;
    height: 17%;
    padding: 2px 6px;
    background-color: #eee;
    border: 1px #ddd solid;
    font-size: 18px;  
}

#calculator-btns button:hover {
    background-color: #ccc;
}

#calculator-btns .num {
    background-color: #fff;
    color: #0072c5;
    font-weight: bold;
    font-size: 24px;
    font-weight: bolder;
}

#calculator-btns .key-op {
    font-size: 24px;
    background-color: #f7d99d;
}

#calculator-btns .scientific-op {
    background-color: #eee;
}

#calculator-btns .key-op:hover {
    background-color: #fcc65a;
}

#calculator-btns .scientific-op:hover {
    background-color: #ccc;
}

#calculator-btns .num:hover {
    background-color: #fff;
    border-color: #0072c5;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

#calculator-btns #equal {
    color: #fff;
    background-color: #0072c5;
    border-color: #0072c5;
    font-weight: bold;
}

#calculator-btns #equal:hover {
    background-color: #005b9e;
    border: 1px solid #005b9e;
}

#calculator-btns  #del {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
    font-weight: bold;
}

#calculator-btns #del:hover {
    background-color: #d32f2f;
    border: 1px solid #d32f2f;
}

#footer {
    height: 10vh;
    color: #f2f8fc;
    background-color: #0072c5;
    display: flex;
    justify-content: center;
    align-items: center; 
}
